<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="headerFragment">
    <!-- header.html  시작 -->

    <div class="contain_all">
      <div class="head">
        <table class="head_table">
          <tr>
            <td class="head_title">title</td>
            <td class="head_con">경로</td>
            <td class="head_title">name</td>
            <td class="head_con">사용자</td>
            <td class="head_title">date</td>
            <td class="head_con" id="clock" style="color: black">날짜</td>
          </tr>
        </table>
      </div>

      <nav class="navbar">
        <form class="container-fluid justify-content-start">
          <input
            type="hidden"
            sec:authorize="isAuthenticated()"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/list/member}'|"
            type="button"
          >
            회원 관리
          </button>
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/list/product}'|"
            type="button"
          >
            상품 관리
          </button>
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/list/order}'|"
            type="button"
          >
            주문 관리
          </button>
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/list/review}'|"
            type="button"
          >
            리뷰 관리
          </button>
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/list/notice}'|"
            type="button"
          >
            공지 사항
          </button>
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/list/QnA}'|"
            type="button"
          >
            문의 사항
          </button>
          <button
            class="btn me-1"
            th:onclick="|location.href='@{/admin/category-manager}'|"
            type="button"
          >
            카테고리
          </button>
        </form>
      </nav>
    </div>
    <script>
      var Target = document.getElementById("clock");
      function clock() {
        var time = new Date();
        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();
        var week = ["일", "월", "화", "수", "목", "금", "토"];

        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        Target.innerText =
          `${month + 1}월 ${date}일 ${week[day]}요일 ` +
          `${hours < 10 ? `0${hours}` : hours}:${
            minutes < 10 ? `0${minutes}` : minutes
          }:${seconds < 10 ? `0${seconds}` : seconds}`;
      }
      clock();
      setInterval(clock, 1000); // 1초마다 실행
    </script>
  </header>
</html>
