<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<th:block th:replace="/client/fragments/Clhead :: headFragment"></th:block>

		<link
			rel="stylesheet"
			href="/css/login.css"
		/>
	</head>
	<style>
		.popup {
			z-index: -1;
		}
	</style>
	<body id="bodytest">
		<th:block
			th:replace="/client/fragments/Clheader :: headerFragment"
		></th:block>
		<!-- 로그인 -->
		<div class="containerlogin">
			<div class="users-title-line-hd">
				<h3
					th:if="${id}"
					th:text="|고객님의 id는 ${id} 입니다.|"
				></h3>
				<h3
					th:if="!${id}"
					th:text="|고객님의 회원정보가 없습니다.|"
				></h3>
			</div>
		</div>
		<!-- 푸터 -->
		<th:block
			th:replace="/client/fragments/Clfooter :: footerFragment"
		></th:block>
		<script th:inline="javascript">
			const id =[[${id}]];
			if(id != null){

			}
		</script>

		<script>
			//사이드메뉴
			function openNav() {
				// document.body.style.backgroundColor = "rgba(0,0,0,0.5)";
				document.getElementById("mySidenav").style.width = "80%";
			}
			function closeNav() {
				// document.body.style.backgroundColor = "white";
				document.getElementById("mySidenav").style.width = "0";
			}
		</script>

		<script>
			//돋보기
			function openSearch() {
				document.getElementById("myOverlay").style.display = "block";
			}

			function closeSearch() {
				document.getElementById("myOverlay").style.display = "none";
			}
		</script>
		<script>
			function show(i) {
				document.querySelector(".background").className = "background show";
				$(".popup").eq(i).css("z-index", "5000");
			}

			function close(i) {
				console.log(i);
				document.querySelector(".background").className = "background";
				$(".popup").eq(i).css("z-index", "-1");
			}
		</script>
		<script>
			function show2(i) {
				document.querySelector(".background2").className = "background2 show2";
				$(".popup").eq(i).css("z-index", "5000");
			}

			function close2(i) {
				document.querySelector(".background2").className = "background2";
				$(".popup").eq(i).css("z-index", "-1");
			}

			function openPopup1() {
				popup = window.open("agreement2");
			}
			function openPopup2() {
				popup = window.open("agreement3");

				// document.querySelector("#show").addEventListener("click", show);
				// document.querySelector("#close").addEventListener("click", close);

				// document.querySelector("#show2").addEventListener("click", show2);
				// document.querySelector("#close2").addEventListener("click", close2);
			}
		</script>
		<script>
			function openPopupsoho1() {
				popup = window.open("https://mysoho.com/");
			}
			function openPopupsoho2() {
				popup = window.open("https://sohomarket.kr/?shop=sohonara");
			}
			function footerbtn() {
				//
				if (document.querySelector(".hidden").style.display === "block") {
					document.querySelector(".hidden").style.display = "none";
					document.querySelector(".footer-down").style.display = "block";
					document.querySelector(".footer-up").style.display = "none";
				} else {
					document.querySelector(".hidden").style.display = "block";
					document.querySelector(".footer-down").style.display = "none";
					document.querySelector(".footer-up").style.display = "block";
				}
			}
			function footerbtn2() {
				popup = window.open(
					"https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2068121131&apv_perm_no="
				);
			}
			// Get the button
			let mybutton = document.getElementById("myBtnfooter");

			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction();
			};

			function scrollFunction() {
				if (
					document.body.scrollTop > 20 ||
					document.documentElement.scrollTop > 20
				) {
					//mybutton.style.display = "block";
					mybutton.style.opacity = "1";
				} else {
					//mybutton.style.display = "none";
					mybutton.style.opacity = "0";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
	</body>
</html>
