<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>마이소호 샘플샵</title>
	</head>
     <body id="bodytest">

	<th:block th:fragment="headerFragment">
<!--  -->
		<div class="wrap">
<!--  -->
<style>
	.checkbox{
		cursor: pointer;
	}
	img{
		cursor: pointer;
	}
</style>
		<div class="betweenbtn">
			<button class="myBtnfooter leftbtn">
				<img
					src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h86_tel.png"
					alt=""
				/>
			</button>
			<button
				onclick="topFunction()"
				class="myBtnfooter rightbtn"
				id="myBtnfooter"
			>
				<img
					src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h86_top.png"
					alt=""
				/>
			</button>
		</div>
		<div>

		<!--  -->
		<div id="app">
			<div class="bass">
				<div class="header">
					<div class="hd-inner">
						<div class="side-icon-left">
							<div
								id="mySidenav"
								class="sidenav"
							>
								<div>
									<div class="aside-hd">
										<div>
											<a href="http://localhost:8080/main">
												<img
													src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h40_home.gif"
													alt=""
												/>
											</a>
										</div>
										<a
											href="javascript:void(0)"
											class="closebtn"
											onclick="closeNav()"
											>&times;</a
										>
									</div>
									<ul class="aside-cont">
										<li><a href="/list/category?category=SALE">♡NURIRI SALE♡</a></li>
										<li><a href="/list/category?category=TOP">TOP</a></li>
										<li><a href="/list/category?category=BOTTOM">BOTTOM</a></li>
										<li><a href="/list/category?category=ONE-PIECE">ONE-PIECE</a></li>
										<li>
											<a
												href="/list/category?category=ACC"
												id="acc"
												>ACC</a
											>
										</li>
									</ul>
									<div class="aside-bot">
										<div class="aside-notice">
											<a href="/notice/list"
												><img
													src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_notice.png"
													alt=""
												/>
												공지사항</a
											>
										</div>
										<div class="aside-qna">
											<a href="/client/qna/list"
												><img
													src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_qna_h25.png"
													alt=""
												/>
												Q&A 게시판</a
											>
										</div>
									</div>
								</div>
							</div>
							<div
								class="btn-hambergerMenu"
								style="cursor: pointer"
								onclick="openNav()"
							>
								<img
									src="https://sohonara.mysoho.com/assets/shop/img/btn/tpl_shop_hamburger_menu_000000.png"
									alt=""
								/>
							</div>
							<a
								href="javascript:openSearch()"
								class="btn-serch"
							>
								<img
									class="openBtn"
									src="https://sohonara.mysoho.com/assets/shop/img/btn/tpl_shop_search_000000.png"
									alt=""
							/></a>
							<div
								id="myOverlay"
								class="overlay"
							>
								<span
									class="closebtn"
									onclick="closeSearch()"
									title="Close Overlay"
									>×</span
								>
								<div class="overlay-inner">
									<h3>어떤 상품을 찾고 계신가요?</h3>
									<div class="overlay-content">
										<form action="/search/product">
					<input
						type="hidden"
						sec:authorize="isAuthenticated()"
						th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}"
					/>
											<input
												type="text"
												placeholder="검색어를 입력해주세요"
												name="search"
											/>
											<button type="submit">
												<i class="fa fa-search"></i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<a href="/main"
							><img
								class="logo"
								src="https://img.makeshop.co.kr/1/1371/201908/583f98cc6e004ec7b3ba880bf0eaf1c9.png"
								alt=""
						/></a>
						<div class="side-icon-right">
							<!-- hasRole: admin으로 설정 -->
							<th:block sec:authorize="isAnonymous()">
								<a th:href="@{/admin/}" class="btn-login"
								><img
									src="https://cdn-icons-png.flaticon.com/512/9688/9688602.png"
									alt=""
							/></a>
							</th:block>
							<form id="cartForm"
							action="/cart"
							 method="post">
        					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							<a
								class="btn-basket"
								onclick="goCart();"
							>
								<input type="hidden" name="item_idx" id="item_idx">
								<input type="hidden" name="item_quantity" id="item_quantity">
				 				<div class="basket-num" type="Number">0</div>
								<img
									src="https://sohonara.mysoho.com/assets/shop/img/btn/tpl_shop_basket_000000.png"
									alt=""
								/>
							</a>
							</form>

							<th:block sec:authorize="isAuthenticated()">
								<a th:href="@{/myorder/list}" class="btn-login"
								><img
										src="https://sohonara.mysoho.com/assets/shop/img/btn/tpl_shop_logon_000000.png"
										alt=""
								/></a>
							</th:block>
							<th:block sec:authorize="isAnonymous()">
								<a th:href="@{/loginForm}" class="btn-login"
								><img
									src="https://sohonara.mysoho.com/assets/shop/img/btn/tpl_shop_logoff_000000.png"
									alt=""
							/></a>
							</th:block>
						</div>
					</div>
			<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->

					<!--  -->
					<script>
				document.querySelector(".basket-num").innerHTML = 0;
				const cookies = document.cookie.split('; ');
				let cartNum = 0;
				for(let i=0; i<cookies.length; i++){
					if(!cookies[i].includes("XSRF") && !cookies[i].includes("Token")){
					 cartNum +=	Number(cookies[i].substring(cookies[i].indexOf("=")+1)); 
					}
			}
			document.querySelector(".basket-num").innerHTML = cartNum;

		function goCart(){
			if($(".basket-num").text() == 0){
				alert('장바구니가 비었습니다. 물건을 채워주세요.');
			}else{
				const cookies2 = document.cookie.split('; '); 
				let item_idx_list = [];
				for(let i=0; i<cookies2.length; i++){
					if(!cookies2[i].includes("ckCsrf")){
					item_idx_list.push(cookies2[i].split("=",2));
					}
				}
				const item_idx = [];
				const item_quantity = [];
			  for(let i =0; i<item_idx_list.length; i++) {
					if(!item_idx_list[i][0].includes("XSRF")){
                item_idx.push(item_idx_list[i][0]);
                item_quantity.push(Number( item_idx_list[i][1]));
        		}
					}
				$('#item_idx').val(item_idx);
				$('#item_quantity').val(item_quantity);
				$('#cartForm').submit();
   				
				}
			}

			var setCookie = function(item_idx, quantity, Ddate =3 ) {
      var date = new Date();
      date.setTime(date.getTime() + Ddate*24*60*60*1000);
      document.cookie = item_idx + '=' + quantity + ';expires=' + date.toUTCString() + ';path=/';
  };
  

	  function numberFormatter(number){
      number = number + "원";
      if(number.length>4){
      number = number.slice(0,-4) + ',' + number.slice(-4);
  }
  return number;
}
			</script>
	</th:block>
</html>