<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <th:block th:replace="/client/fragments/Clhead :: headFragment"></th:block>
  <style>
    .profile-area {
      background-color: rgb(233, 240, 250);
      width: 100%;
      min-height: 149px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .profile-area img {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      margin-bottom: 15px;
    }
    .profile-area-tit {
      font-size: 18px;
      font-weight: bold;
    }
    .display-tab {
      height: 47px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 10px;
    }
    .display-tab img {
      width: 14px;
    }
    .best-itemBox .txt {
      margin-top: 5px;
      margin-bottom: 0;
    }
    .best-itemBox .price-info {
      margin-top: 5px;
    }
    .best-itemBox p,
    .best-itemBox h3,
    .best-itemBox span {
      font-weight: bold;
    }
    .img img {
      width: 100%;
    }
    .twoAlign {
      display: flex;
      flex-wrap: wrap;
    }
    .twoAlign li {
      width: 49.5%;
      padding: 10px 10px;
      text-align: center;
    }
    .sale-rate {
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      color: #c70000;
    }
    .txt {
      margin-top: 10px;

      font-size: 14px;
    }
    .price {
      font-size: 15px;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
    .twoAlign li {
      position: relative;
    }
    .cart {
      position: absolute;
      bottom: 70px;
      right: 20px;
      max-width: 45px;
    }
    img{
    vertical-align: middle;
    }
    .cart img {
      display: none;
      width: 100%;
    }
    #display-type-steps1,
    #list-type2 {
      display: none;
    }
    .type3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .between {
      display: flex;
    }
    .type3 img {
      width: 72px;
      height: 72px;
    }
    .tbl-cell {
      padding-left: 15px;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .tbl-cell p {
      margin: 5px 0;
    }

    .btn-cart-type1 img {
      width: 26px;
      height: 26px;
    }
    .sale-rate {
      font-weight: bold;
      font-style: italic;
      color: #c70000;
    }
    .price {
      margin-right: 5px;
      font-weight: bold;
    }
    .gray-through {
      font-size: 15px;
      margin-right: 6px;
      font-weight: normal;
      color: #ccc;
      text-decoration: line-through;
    }
    .boxDiv ul {
      padding: 0 15px;
      min-height: 568px;
    }
    .boxDiv ul li {
      padding: 15px 0;
      border-top: 1px solid rgb(214, 214, 214);
    }
    .boxDiv li:last-child {
      border-bottom: 1px solid rgb(214, 214, 214);
    }
    .container-sale {
      min-height: 630px;
      padding-bottom: 50px;
      border-bottom: 1px solid rgb(214, 214, 214);
    }
  </style>
<body id="bodytest">
<th:block
        th:replace="/client/fragments/Clheader :: headerFragment"
></th:block>

<div class="container-sale">
  <div class="profile-area">
    <img
            src="https://img.makeshop.co.kr/1/1371/201908/82f61ad4eb11bb9799f3decaf691ab24.png"
            alt=""
    />
    <div class="profile-area-tit" th:text="${type}">ONE-PIECE</div>
  </div>
  <!-- 리스트변경아이콘 -->
  <div class="display-tab">
    <a href="javascript:displayTypeChange2()"
    ><img
            id="display-type-steps2"
            class="ico-list fl-r display-type-steps2"
            src="https://sohonara.mysoho.com/assets/shop/img/common/ico_list_type3.png"
            alt=""
    /></a>
    <a href="javascript:displayTypeChange1()"
    ><img
            id="display-type-steps1"
            class="ico-list fl-r display-type-steps2"
            src="https://sohonara.mysoho.com/assets/shop/img/common/ico_list_type2.png"
            alt=""
    /></a>
  </div>
  <!-- 진열상품 -->


  <th:block >

    <div id="list-type2" class="list-type boxDiv">
      <ul>
        <!-- 할인 -->
        <li class="type3" th:if="${type} == 'SALE'" th:each="list : ${item}">
          <div class="between">
            <div class="prd-img">
              <a th:href="@{/product(idx=${list.item_idx})}" class="focusTag"
              ><img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
              </a>
            </div>
            <div class="tbl-cell">
              <p class="txt"><a th:href="@{/product(idx=${list.item_idx})}" th:text="${list.item_NAME}">브라운 사각 bag</a></p>
              <p class="price-info" th:if="${list.item_DISCOUNT} != '0'">
                <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
                <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
              </p>
              <p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
              </p>
            </div>
          </div>
          <a 								onclick="basketNumCount(this)"
								th:value="${list.item_idx}" class="btn-cart-type1"
          ><img
                  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          />
          </a>
        </li>
        <!-- 상의 -->
        <li class="type3" th:if="${type} == 'TOP'" th:each="list : ${item}">
          <div class="between">
            <div class="prd-img">
              <a th:href="@{/product(idx=${list.item_idx})}" class="focusTag"
              ><img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
              </a>
            </div>
            <div class="tbl-cell">
              <p class="txt"><a th:href="@{/product(idx=${list.item_idx})}" th:text="${list.item_NAME}">브라운 사각 bag</a></p>
              <p class="price-info" th:if="${list.item_DISCOUNT} != '0'">
                <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
                <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
              </p>
              <p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
              </p>
            </div>
          </div>
          <a 		onclick="basketNumCount(this)"
								th:value="${list.item_idx}" class="btn-cart-type1"
          ><img
                  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          />
          </a>
        </li>
        <!-- 하의 -->
        <li class="type3" th:if="${type} == 'BOTTOM'" th:each="list : ${item}">
          <div class="between">
            <div class="prd-img">
              <a th:href="@{/product(idx=${list.item_idx})}" class="focusTag"
              ><img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
              </a>
            </div>
            <div class="tbl-cell">
              <p class="txt"><a th:href="@{/product(idx=${list.item_idx})}" th:text="${list.item_NAME}">브라운 사각 bag</a></p>
              <p class="price-info" th:if="${list.item_DISCOUNT} != '0'">
                <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
                <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
              </p>
              <p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
              </p>
            </div>
          </div>
          <a onclick="basketNumCount(this)"
								th:value="${list.item_idx}" class="btn-cart-type1"
          ><img
                  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          />
          </a>
        </li>
        <!-- 원피스 -->
        <li class="type3" th:if="${type} == 'ONE-PIECE'" th:each="list : ${item}">
          <div class="between">
            <div class="prd-img">
              <a th:href="@{/product(idx=${list.item_idx})}" class="focusTag"
              ><img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
              </a>
            </div>
            <div class="tbl-cell">
              <p class="txt"><a th:href="@{/product(idx=${list.item_idx})}" th:text="${list.item_NAME}">브라운 사각 bag</a></p>
              <p class="price-info" th:if="${list.item_DISCOUNT} != '0'">
                <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
                <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
              </p>
              <p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
              </p>
            </div>
          </div>
          <a onclick="basketNumCount(this)"
								th:value="${list.item_idx}" class="btn-cart-type1"
          ><img
                  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          />
          </a>
        </li>
        <!-- 악세사리 -->
        <li class="type3" th:if="${type} == 'ACC'" th:each="list : ${item}">
          <div class="between">
            <div class="prd-img">
              <a th:href="@{/product(idx=${list.item_idx})}" class="focusTag"
              ><img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
              </a>
            </div>
            <div class="tbl-cell">
              <p class="txt"><a href="@{/product(idx=${list.item_idx})}" th:text="${list.item_NAME}">브라운 사각 bag</a></p>
              <p class="price-info" th:if="${list.item_DISCOUNT} != '0'">
                <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
                <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
              </p>
              <p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
                <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
              </p>
            </div>
          </div>
          <a onclick="basketNumCount(this)"
								th:value="${list.item_idx}" class="btn-cart-type1"
          ><img
                  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          />
          </a>
        </li>
      </ul>
    </div>
    <!-- 상품리스트 -->
    <div class="list-type js-prd-list-type-wrap" id="list-type1">
      <ul class="twoAlign">
        <!-- 할인 -->
        <li th:if="${type} == 'SALE'" th:each="list : ${item}">
          <a href="" class="cart" th:if="${list.item_AMOUNT} !=0"
          ><img
                  src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          /></a>
          <a th:href="@{/product(idx=${list.item_idx})}">
            <p class="img">
              <img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
            </p>
          </a>
          <a th:href="@{/product(idx=${list.item_idx})}">
          <p class="txt"  th:text="${list.item_NAME}">브라운 사각 bag</p>
          </a>
          <p class="price-info" th:if="${list.item_DISCOUNT} != '0'  and ${list.item_AMOUNT} != 0">
            <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
            <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
          </p>
          <p class="price-info" th:if="${list.item_DISCOUNT} == '0'  and ${list.item_AMOUNT} != 0">
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
          </p>
          <p class="price-info" th:if="${list.item_AMOUNT} == 0">
            <span class="price">품절</span>
          </p>
        </li>
        <!-- 상의 -->
        <li th:if="${type} == 'TOP'" th:each="list : ${item}">
          <a href="" class="cart" th:if="${list.item_AMOUNT} !=0"
          ><img
                  src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          /></a>
          <a th:href="@{/product(idx=${list.item_idx})}">
            <p class="img">
              <img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
            </p>
          </a>
          <p class="txt"  th:text="${list.item_NAME}">브라운 사각 bag</p>
          <p class="price-info" th:if="${list.item_DISCOUNT} != '0'  and ${list.item_AMOUNT} != 0">
            <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
            <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
          </p>
          <p class="price-info" th:if="${list.item_DISCOUNT} == '0'  and ${list.item_AMOUNT} != 0">
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
          </p>
          <p class="price-info" th:if="${list.item_AMOUNT} == 0">
            <span class="price">품절</span>
          </p>
        </li>
        <!-- 하의 -->
        <li th:if="${type} == 'BOTTOM'" th:each="list : ${item}">
          <a href="" class="cart" th:if="${list.item_AMOUNT} !=0"
          ><img
                  src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          /></a>
          <a th:href="@{/product(idx=${list.item_idx})}">
            <p class="img">
              <img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
            </p>
          </a>
          <a th:href="@{/product(idx=${list.item_idx})}"></a>
          <p class="txt"  th:text="${list.item_NAME}">브라운 사각 bag</p>
          </a>
          <p class="price-info" th:if="${list.item_DISCOUNT} != '0'  and ${list.item_AMOUNT} != 0">
            <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
            <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
          </p>
          <p class="price-info" th:if="${list.item_DISCOUNT} == '0'  and ${list.item_AMOUNT} != 0">
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
          </p>
          <p class="price-info" th:if="${list.item_AMOUNT} == 0">
            <span class="price">품절</span>
          </p>
        </li>
        <!-- 원피스 -->
        <li th:if="${type} == 'ONE-PIECE'" th:each="list : ${item}">
          <a href="" class="cart" th:if="${list.item_AMOUNT} !=0"
          ><img
                  src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          /></a>
          <a th:href="@{/product(idx=${list.item_idx})}">
            <p class="img">
              <img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
            </p>
          </a>
          <a th:href="@{/product(idx=${list.item_idx})}">
          <p class="txt"  th:text="${list.item_NAME}">브라운 사각 bag</p>
          </a>
          <p class="price-info" th:if="${list.item_DISCOUNT} != '0'  and ${list.item_AMOUNT} != 0">
            <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
            <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
          </p>
          <p class="price-info" th:if="${list.item_DISCOUNT} == '0'  and ${list.item_AMOUNT} != 0">
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
          </p>
          <p class="price-info" th:if="${list.item_AMOUNT} == 0">
            <span class="price">품절</span>
          </p>
        </li>
        <!-- 악세사리 -->
        <li th:if="${type} == 'ACC'" th:each="list : ${item}">
          <a href="" class="cart" th:if="${list.item_AMOUNT} !=0"
          ><img
                  src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
                  alt=""
          /></a>
          <a th:href="@{/product(idx=${list.item_idx})}">
            <p class="img">
              <img
                      th:src="${list.item_IMAGE}"
                      alt=""
              />
            </p>
          </a>
          <a th:href="@{/product(idx=${list.item_idx})}">
          <p class="txt"  th:text="${list.item_NAME}">브라운 사각 bag</p>
          </a>
          <p class="price-info" th:if="${list.item_DISCOUNT} != '0'  and ${list.item_AMOUNT} != 0">
            <span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
            <span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
          </p>
          <p class="price-info" th:if="${list.item_DISCOUNT} == '0'  and ${list.item_AMOUNT} != 0">
            <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
          </p>
          <p class="price-info" th:if="${list.item_AMOUNT} == 0">
            <span class="price">품절</span>
          </p>
        </li>
      </ul>
    </div>
  </th:block>
</div>


<!-- 푸터 -->
<th:block
        th:replace="/client/fragments/Clfooter :: footerFragment"
></th:block>

<!--<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>-->
<!--<script-->
<!--        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"-->
<!--        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"-->
<!--        crossorigin="anonymous"-->
<!--&gt;</script>-->
<!--<script-->
<!--        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"-->
<!--        crossorigin="anonymous"-->
<!--&gt;</script>-->

<th:block
        th:replace="/client/fragments/Clscript :: scriptFragment"
></th:block>

<script>
      //사이드메뉴
      function openNav() {
        // document.body.style.backgroundColor = "rgba(0,0,0,0.5)";
        document.getElementById("mySidenav").style.width = "80%";
      }
      function closeNav() {
        // document.body.style.backgroundColor = "white";
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>

<script>
      //돋보기
      function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
      }

      function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>
<script>
      function displayTypeChange1() {
        document.getElementById("display-type-steps2").style.display = "block";
        document.getElementById("display-type-steps1").style.display = "none";
        document.getElementById("list-type1").style.display = "block";
        document.getElementById("list-type2").style.display = "none";
      }

      function displayTypeChange2() {
        document.getElementById("display-type-steps2").style.display = "none";
        document.getElementById("display-type-steps1").style.display = "block";
        document.getElementById("list-type1").style.display = "none";
        document.getElementById("list-type2").style.display = "block";
      }
      function openPopup1() {
        popup = window.open("agreement2");
      }
      function openPopup2() {
        popup = window.open("agreement3");
      }
      function openPopupsoho1() {
        popup = window.open("https://mysoho.com/");
      }
      function openPopupsoho2() {
        popup = window.open("https://sohomarket.kr/?shop=sohonara");
      }
      function footerbtn() {
        //
        if (document.querySelector(".hidden").style.display === "block") {
          document.querySelector(".hidden").style.display = "none";
          document.querySelector(".footer-down").style.display = "block";
          document.querySelector(".footer-up").style.display = "none";
        } else {
          document.querySelector(".hidden").style.display = "block";
          document.querySelector(".footer-down").style.display = "none";
          document.querySelector(".footer-up").style.display = "block";
        }
      }
      function footerbtn2() {
        popup = window.open(
          "https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2068121131&apv_perm_no="
        );
      }
      // Get the button
  //    let mybutton = document.getElementById("myBtnfooter");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          //mybutton.style.display = "block";
          mybutton.style.opacity = "1";
        } else {
          //mybutton.style.display = "none";
          mybutton.style.opacity = "0";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }

      let basketNum = document.querySelector(".basket-num").innerHTML;
$(".option-total-price").text($("#option-price").text());
      function basketNumCount(a) {
	if($(a).attr("hasOption")!=null){
		location.href="/product?idx="+$(a).attr("value");
	}else{
		basketNum++;
		let item_idx = $(a).attr("value");
		let item_quantity = 0;
		document.querySelector(".basket-num").innerHTML = basketNum;
		if(getCookie( item_idx) == null){
			setCookie( item_idx, item_quantity+1);
		}else{
			item_quantity = getCookie(+ item_idx);
			setCookie(item_idx,Number(item_quantity)+1);
		}
		alert('장바구니 담기 성공!');
	}
}

var getCookie = function(name) {
		 var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
		 return value? value[2] : null;
		};
    </script>

</body>
</html>
