/* 공유하기 팝업 */
.bg-share {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.showShareList {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}
.showShareList .popup {
  transform: translate(-50%, -110%);
  transition: all 0.5s;
}

.window-share {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup-share {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);

  width: 240px;
  height: 400px;
  margin: auto;

  /* 초기에 약간 아래에 배치 */
  /* transform: translate(-50%, -40%); */
}

.share-tit {
  text-align: center;
  font-size: 18px;
}
.share-con {
  padding: 10px 25px;
}
.share-con {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}
.share-con-ico {
  width: 27%;
  margin: 6px;
}
.share-con-ico img {
  width: 100%;
}
.lhd-share {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.show-share-list {
  border: none;
}
.lhd-share a img {
  display: flex;
  align-items: center;
  width: 15px;
}
