<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<html>
<th:block th:fragment="myorderFragment">
    <!--  -->
    <!-- 반복2 -->
    <div
            class="list"
            th:each="secondList : ${firstList.productInfoList}"
    >
        <a href="product-top1.html">
            <img
                    th:src="${secondList.item_IMAGE}"
                    alt=""
            />
        </a>
        <div class="info">
            <div class="label_box">
							<span
                                    class="label type1"
                                    th:text="${secondList.status}"
                            >결제대기</span
                            >
                <th:block th:if="${#strings.equals(firstList.orders_STATUS, '배송완료')} and ${firstList.member_IDX} != 0">
								<span class="review_textbutton">
									<a
                                            th:href="@{/review(item_idx=${secondList.item_IDX})}"
                                            class="review_textbutton"
                                            th:text="리뷰쓰기"
                                    ></a
                                    >
								</span>
                </th:block>
            </div>
            <div>
                <span class="name" th:text="${secondList.item_NAME}">퍼프 블라우스 퍼플</span>
                <th:block th:if="${secondList.item_OPTION} != null">
                    , <span class="name" th:text="${secondList.item_OPTION}">퍼프 블라우스 퍼플</span>
                </th:block>
            </div>
            <th:block th:if="${secondList.item_DISCOUNT} != '0'">
							<span
                                    class="sale-rate"
                                    th:text="${secondList.item_DISCOUNT}+'%'"
                            >9%</span
                            >
                <span
                        class="option"
                        th:text="${#numbers.formatInteger(secondList.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"
                >
								44,500원
							</span>
                <span
                        class="gray-through"
                        th:text="${#numbers.formatInteger(secondList.item_PRICE,3,'COMMA')}+'원'"
                ></span>
            </th:block>
            <th:block th:if="${secondList.item_DISCOUNT} == '0'">
                <div
                        class="option"
                        th:text="${#numbers.formatInteger(secondList.item_PRICE,3,'COMMA')}+'원'"
                >
                    44,500원
                </div>
            </th:block>
            <div>
							<span
                                    class="option"
                                    th:text="${secondList.qty}+개"
                            >/ 1개</span
                            >
                <span
                        class="price"
                        th:text="${#numbers.formatInteger(secondList.item_FULL_PRICE,3,'COMMA')}+'원'"
                ></span>
            </div>
        </div>
        <!--        <span class="label type1"><form action="#"><input class="label type1" type="button" value="리뷰쓰기" ></form></span>-->
    </div>
    <!-- 구분선 -->
    <div class="bg-blank"></div>
</th:block>
</html>
</html>
