<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>

<html>

<th:block th:fragment="myorderRefund">
    <!--  -->
    <!-- 반복2 -->
    <a href="product-top1.html">
        <img
                th:src="${secondList.item_IMAGE}"
                alt=""
        />
    </a>
    <div class="info">
        <span class="label type1" th:text="${secondList.status}">결제대기</span>
        <div class="name" th:text="${secondList.item_NAME}">퍼프 블라우스 퍼플</div>
        <th:block th:if="${secondList.item_DISCOUNT} != '0'">
            <span class="sale-rate" th:text="${secondList.item_DISCOUNT}+'%'">9%</span>
            <span class="option" th:text="${#numbers.formatInteger(secondList.item_PRICE_DISCOUNT,3,'COMMA')}+'원'">
                    44,500원
                </span>
            <span class="gray-through"
                  th:text="${#numbers.formatInteger(secondList.item_PRICE,3,'COMMA')}+'원'"></span>
        </th:block>
        <th:block th:if="${secondList.item_DISCOUNT} == '0'">
            <div class="option" th:text="${#numbers.formatInteger(secondList.item_PRICE,3,'COMMA')}+'원'">44,500원
            </div>
        </th:block>
        <div>
            <span class="option" th:text="${secondList.qty}+개">/ 1개</span>
            <span class="price" th:text="${#numbers.formatInteger(secondList.item_FULL_PRICE,3,'COMMA')}+'원'"></span>
        </div>
    </div>
    <!-- 구분선 -->
    <div class="bg-blank"></div>
</th:block>
</html>