<html
		lang="ko"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<th:block th:replace="/client/fragments/Clhead :: headFragment"></th:block>

	<style>
			* {
				white-space: nowrap;
			}
			p {
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.best-itemBox {
				padding: 25px 10px 0;
			}
			.best-itemBox h3 {
				display: flex;
				justify-content: center;
				font-size: 16px;
			}
			.img1 {
				width: 100%;
			}
			.threeAlign {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			.threeAlign li {
				width: 32%;
				padding: 10px 6px;
			}
			.mid-bnr img {
				margin-top: 40px;
				width: 100%;
			}
			.fl-l select {
				font-size: 15px;
				display: flex;
				align-items: center;
				border: 0;
				padding: 5px;
				margin: 5px;
				appearance: none;
				outline: none;
			}

			.fl-l {
				position: relative;
			}
			.fl-l img {
				position: absolute;
				top: 7px;
				left: 45px;
				width: 15px;
				padding-left: 5px;
			}

			.display-tap {
				display: flex;
				justify-content: space-between;
				padding: 12px;
				margin-left: 5px;
				font-size: 14px;
			}
			.ico-list-f1 {
				display: flex;
				align-items: center;
			}
			.ico-list-f1 img {
				width: 16px;
			}
			.type1 ul {
				padding: 0 15px;
			}
			.type1 ul li {
				padding: 15px 0;
				border-top: 1px solid rgb(214, 214, 214);
			}
			.type3 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px 0;
				margin: 0 20px;
				border-top: 1px solid rgb(214, 214, 214);
			}
			.between {
				display: flex;
			}
			.focusTag {
				display: flex;
				width: 100%;
			}

			.type3 img {
				width: 100%;
			}
			.tbl-cell {
				padding-left: 15px;
				font-size: 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.tbl-cell p {
				margin: 5px 0;
			}

			.btn-cart-type1 img {
				display: block;
				width: 26px;
				height: 26px;
			}
			.sale-rate {
				font-weight: bold;
				font-style: italic;
				color: #c70000;
			}
			.price {
				margin-right: 5px;
				font-weight: bold;
			}
			.gray-through {
				margin-right: 6px;
				font-weight: normal;
				color: #ccc;
				text-decoration: line-through;
			}
			.mainNotice {
				height: 40px;
				display: flex;
				flex-direction: row;
				align-items: center;
				border-top: 5px solid #edeff2;
				border-bottom: 1px solid rgb(214, 214, 214);
			}
			.mainNotice-top {
				border-top: 1px solid #ccc;
			}
			.icoTit img {
				width: 15px;
				height: 12px;
				margin-left: 15px;
			}
			.notice {
				font-size: 13px;
				font-weight: bold;
				padding-left: 5px;
			}
			.notice-info {
				font-size: 13px;
				color: #666666;
				padding-left: 10px;
			}

			.best-itemBox {
				font-size: 14px;
			}
			.best-itemBox .txt {
				margin-top: 5px;
				margin-bottom: 0;
			}
			.best-itemBox .price-info {
				margin-top: 5px;
			}
			.best-itemBox p,
			.best-itemBox h3,
			.best-itemBox span {
				font-weight: bold;
			}
			.header {
				position: sticky;
				background-color: white;
				top: 0;
				z-index: 10;
			}
			.container {
				padding: 0;
				max-width: 100%;
			}

			* {
				box-sizing: border-box;
			}
			.hd-inner {
				border-bottom: 0;
			}
			.background {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: rgba(0, 0, 0, 0.3);
				z-index: 1000;

				/* 숨기기 */
				z-index: -1;
				opacity: 0;
			}
			.display-tab {
				position: relative;
			}
			#sort {
				display: none;
				width: 100px;
				padding: 0 5px;
				position: absolute;
				top: 30px;
				left: -2px;
				z-index: 100;
				background: #ffffff;
				box-shadow: 0px 1px 1.68px 1.82px rgb(0 0 0 / 15%);
				border-radius: 5px;
				font-size: 14px;
			}
			#sort li {
				padding: 5px;
				border-bottom: 1px solid #edeff2;
			}
			#sort li:hover {
				background-color: rgb(228, 228, 228);
			}
			#mode {
				display: none;
			}

			.threeAlign2 li {
				border-top: 0;
				padding: 0 5px;
				margin: -4px 0;
				width: 33.3%;
			}
			.threeAlign2 li {
				position: relative;
			}
			.redico {
				position: absolute;
				width: 30px;
				top: 0;
				left: 5px;
			}
			.redico-dis {
				position: absolute;
				top: 2px;
				left: 6px;
				color: white;
				font-size: 11px;
				transform: rotate(-44deg);
			}
			.twoAlign {
				display: flex;
				flex-wrap: wrap;
				margin-left: 10px;
			}
			.twoAlign li {
				width: 49.5%;
				padding: 0 5px;
				text-align: center;
				position: relative;
			}
			.twoAlign li p {
				margin: 0;
				font-size: 13px;
			}
			.twoAlign li .txt {
				margin-top: 5px;
			}
			.twoAlign li .price-info {
				margin-bottom: 20px;
			}
			.cart {
				position: absolute;
				bottom: 65px;
				right: 13px;
				max-width: 38px;
			}
			.cart img {
				width: 100%;
			}

			.swiper-wrapper {
				padding: 20px;
				position: relative;
			}
			.swiper-wrapper img {
				width: 100%;
			}
			.swiper-wrapper a img {
				position: absolute;
				width: 50px;
				bottom: -30px;
				right: 20px;
			}
			.prd-desc {
				padding: 20px 20px;
			}
			.MSH-prd-name {
				font-size: 16px;
				padding: 28px 20px 0;
			}
			.txt-black {
				display: flex;
				font-size: 21px;
			}
			.txt-black .sale-rate {
				margin-right: 10px;
			}
			.between4 {
				display: flex;
				justify-content: space-between;
			}
			.between4-img {
				width: 30px;
			}
			.buy,
			.non-buy {
				display: flex;
				padding: 15px;
				width: 100%;
				justify-content: center;
				align-items: center;
				border: 1px solid black;
				margin: 15px 0;
			}
			.bold {
				text-align: center;
				font-weight: bold;
			}
			/* 리스트 변경 */

			/* .listType0, */
			.listType1,
      .listType2,
      .listType3,
      /* .ico-list-1, */
      .ico-list-2,
      .ico-list-3,
      .ico-list-4 {
				display: none;
			}
			.listType0 {
				display: block;
			}
			.prd-img {
				width: 13%;
			}
			/* 품절 */
			.prd-img,
			.sold-out-wrap {
				position: relative;
			}
			.sold-out-bg {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(201, 201, 201, 0.4);
			}
			.sold-out-text {
				margin-top: 10%;
				position: absolute;
				color: white;
				width: 100%;
				height: 100%;
				text-align: center;
				font-size: 23px;
				font-weight: bold;
			}
			.sold-out-text-type2 {
				font-size: 30px;
				margin-top: 30%;
				font-weight: 400;
			}
			.sold-out-text-type3 {
				font-size: 40px;
				margin-top: 35%;
				font-weight: 500;
			}
			.sold-out-text-type4 {
				font-size: 60px;
				margin-top: 40%;
				font-weight: 500;
			}

			.sold-out-box1,
			.sold-out-box2,
			.sold-out-box3,
			.sold-out-box4 {
				display: none;
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				font-size: 23px;
				font-weight: bold;
			}

			 .type2Link,
			 .type3Link,
			 .type4Link {
				display: flex;
			}

			.type3Link {
				position: relative;
			}

			.pos-rel {
				position: relative;
			}

		</style>
	<link
			rel="stylesheet"
			href="/css/navbar.css"
	/>
	<link
			rel="stylesheet"
			href="/css/share-btn.css"
	/>
</head>
<body id="bodytest">

<th:block th:replace="/client/fragments/Clheader :: headerFragment"></th:block>
<div class="navbar">
	<ul>
		<li><a href="/list/category?category=SALE">♡ NURIRI SALE ♡</a></li>
		<li><a href="/list/category?category=TOP">TOP</a></li>
		<li><a href="/list/category?category=BOTTOM">BOTTOM</a></li>
		<li><a href="/list/category?category=ONE-PIECE">ONE-PIECE</a></li>
		<li>
			<a
					href="/list/category?category=ACC"
					id="acc"
			>ACC</a
			>
		</li>
	</ul>
</div>
</div>
<div class="js-banner">
	<div class="swiper-pagination">
		<div
				id="carouselExampleCaptions"
				class="carousel slide"
				data-bs-ride="false"
		>
			<!-- 인디케이터 : 하단버튼 -->
			<div class="carousel-indicators">
				<button
						type="button"
						data-bs-target="#carouselExampleCaptions"
						data-bs-slide-to="0"
						class="active"
						aria-current="true"
						aria-label="Slide 1"
				></button>
				<button
						type="button"
						data-bs-target="#carouselExampleCaptions"
						data-bs-slide-to="1"
						aria-label="Slide 2"
				></button>
			</div>
			<!-- 실제 컨텐츠 -->
			<div class="carousel-inner">
				<!-- active 현재 보여주고 있는 이미지 -->
				<div class="carousel-item active">
					<!-- src 이미지링크, display block, width 100% -->
					<a href="/product?idx=3"
					><img
							src="https://img.makeshop.co.kr/1/1371/201908/f2a81f39b4ab14bdd219af6e8fec7297.jpg"
							class="d-block w-100"
							alt="..."
					/>
					</a>
					<!-- 폰사이즈일때 글씨 숨기기 -->
					<div class="carousel-caption d-none d-md-block"></div>
				</div>
				<div class="carousel-item">
					<a href="http://localhost:8080/list/category?category=SALE">
						<img
								src="https://img.makeshop.co.kr/1/1371/201908/2e61ee8f4c58844901ff686a616f03ae.jpg"
								class="d-block w-100"
								alt="..."
						/>
					</a>
					<div class="carousel-caption d-none d-md-block"></div>
				</div>
			</div>
			<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide="prev"
			>
										<span
												class="carousel-control-prev-icon"
												aria-hidden="true"
										></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide="next"
			>
										<span
												class="carousel-control-next-icon"
												aria-hidden="true"
										></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="best-itemBox">
		<div><h3>베스트 상품</h3></div>

		<ul class="threeAlign">
			<li class="threeAlignFirst" th:each="list : ${list1}">
				<p class="img">
					<a th:href="@{/product(idx=${list.item_idx})}">
						<!-- /product?idx=${list.item_idx} -->
						<img
								th:src="${list.item_IMAGE}"
								alt=""
								class="img1"
						/>
					</a>
				</p>
				<p class="txt PDname2" th:text="${list.item_NAME}">아크네데님 연청</p>
				<p class="price-info" th:if="${list.item_DISCOUNT} != '0'">
					<span class="sale-rate" th:text="${list.item_DISCOUNT}+'%'">9%</span>
					<span class="price" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
					<span class="gray-through" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
				</p>
				<p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
					<span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
				</p>
			</li>
		</ul>
	</div>
	<div class="mid-bnr">
		<a href=""
		><img
				src="https://img.makeshop.co.kr/1/1371/201908/3f56d2c3eaa566a8552895dad3afaf2e.png"
				alt=""
		/></a>
	</div>
	<div class="display-tap">
		<div class="fl-l">
			<a
					class="select"
					href="javascript:sortSelect()"
			>최신순
				<img
						src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/arr_bottom.png"
						alt=""
				/></a>
			<ul id="sort">
				<li><a onclick="sorting('date')">최신순</a></li>
				<li><a onclick="sorting('selling')">판매순</a></li>
				<li><a onclick="sorting('price')">낮은가격순</a></li>
				<li><a onclick="sorting('review')">리뷰많은순</a></li>
				<li><a onclick="sorting('score')">평점높은순</a></li>
			</ul>
		</div>
		<!-- 리스트변경 아이콘 -->
		<a
				href="javascript:listChangeBtn()"
				class="ico-list-f1"
		><img
				src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_list_type2.png"
				alt=""
				class="ico-list-1"
		/>
			<img
					src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_list_type3.png"
					alt=""
					class="ico-list-2"
			/>
			<img
					src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_list_type4.png"
					alt=""
					class="ico-list-3"
			/>
			<img
					src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_list1.png"
					alt=""
					class="ico-list-4"
			/>
		</a>
	</div>
	<div class="boxDiv">
		<div
				id="list-type2"
				class="list-type"
		>
			<ul class="type1">
				<!-- 첫번째 타입 -->
				<div class="listType0">
					<li class="type3" th:each="list : ${list2}">
						<div class="between">
							<div class="prd-img">
								<a
										th:href="@{/product(idx=${list.item_idx})}"
										class="focusTag"
								><img
										class="product-image product-imageForType"
										th:src="${list.item_IMAGE}"
										alt=""
								/>
									<div class="sold-out-box1">
										<div class="sold-out-text sold-out-text-type1">
											SOLD <br />
											OUT
										</div>
										<div class="sold-out-bg sold-out-bg-type1"></div>
									</div>
								</a>
							</div>
							<div class="tbl-cell">
								<p class="txt">
									<a
											th:href="@{/product(idx=${list.item_idx})}"
											class="PDname PDnameForType" th:text="${list.item_NAME}">퍼프 블라우스 화이트</a>
								</p>
								<p class="price-info">
									<span class="sale-rate sale-rateForType" th:text="${list.item_DISCOUNT}+'%'">9%</span>
									<span class="price priceForType" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
									<span class="gray-through gray-throughForType" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
								</p>
								<!-- <p class="price-info">
                                    <span class="price priceForType" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
                                </p> -->
							</div>
						</div>
						<a
								onclick="basketNumCount(this)"
								th:value="${list.item_idx}"
								class="btn-cart-type1"
						><img
								src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
								alt=""
						/>
						</a>
					</li>
					<!-- 품절(1P) - 구현예정 -->
					<!-- <li class="type3"th:each="list : ${list2}">
                        <div class="between">
                            <div class="prd-img">
                                <a
                                    th:href="@{/product(idx=${list.item_idx})}"
                                                                                                    class="focusTag"
                                ><img
                                class="product-image product-imageForType"
                                        th:src="${list.item_IMAGE}"
                                        alt=""
                                />
                                </a>
                            </div>
                            <div class="tbl-cell">
                                <p class="txt">
                                    <a th:href="@{/product(idx=${list.item_idx})}" class="PDname" th:text="${list.item_NAME}">퍼프 블라우스 화이트</a>
                                </p>
                                <p class="price-info">
                                    <span class="sale-rate sale-rateForType" th:text="${list.item_DISCOUNT}+'%'">9%</span>
                                    <span class="price priceForType" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
                                    <span class="gray-through gray-throughForType" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
                                </p>
                                <p class="price-info">
                                    <span class="price priceForType" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
                                </p>
                            </div>
                        </div>
                        <a
                        onclick="basketNumCount(this)"
                        th:value="${list.item_idx}"
                                class="btn-cart-type1"
                        ><img
                                src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_cart_type1.png"
                                alt=""
                        />
                        </a>
                    </li> -->


				</div>
			</ul>
			<!-- 두번째 타입 -->
			<ul class="threeAlign threeAlign2 listType1">
				<li th:each="list : ${list2}">
					<div class="img pos-rel">
						<a th:href="@{/product(idx=${list.item_idx})}" class="type2Link">
							<img
									th:src="${list.item_IMAGE}"
									alt=""
									class="img1 product-imageForType"
							/>

					<div class="sold-out-box2">
						<div class="sold-out-bg sold-out-bg-type2"></div>
						<div class="sold-out-text sold-out-text-type2">
							SOLD
							<br />
							OUT
						</div>
					</div>
							<img
									th:if="${list.item_DISCOUNT != 0}"
									src="https://sohonara.mysoho.com/assets/shop/img/common/ico_sale.png"
									alt=""
									class="redico"
							/>
							<span class="redico-dis" th:text="${list.item_DISCOUNT} + '%'">9%</span>
							<input type="hidden" class="PDnameForType">
							<input type="hidden" class="sale-rateForType">
							<input type="hidden" class="gray-throughForType">
							<input type="hidden" class="priceForType">

						</a>
					</p>
				</li>
			</ul>
			<!-- 세번째 타입 -->
			<ul class="twoAlign listType2">
				<li th:each="list : ${list2}">
					<a
							onclick="basketNumCount(this)"
							th:value="${list.item_idx}"
							class="cart"
					><img
							src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
							alt=""
					/></a>
					<a th:href="@{/product(idx=${list.item_idx})}" class="type3Link">
						<p class="img">
							<img
									th:src="${list.item_IMAGE}"
									alt=""
									class="img1 product-imageForType"
							/>
						<div class="sold-out-box3">
							<div class="sold-out-text sold-out-text-type3">
								SOLD <br />
								OUT
							</div>
							<div class="sold-out-bg sold-out-bg-type3"></div>
						</div>
						</p>
					</a>
					<p class="txt PDnameForType" th:text="${list.item_NAME}">퍼프블라우스 화이트</p>
					<p class="price-info">
						<span class="sale-rate sale-rateForType" th:text="${list.item_DISCOUNT}+'%'">9%</span>
						<span class="price priceForType" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"></span>
						<span class="gray-through gray-throughForType" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></span>
					</p>
					<!-- <p class="price-info" th:if="${list.item_DISCOUNT} == '0'">
                        <span class="price" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'">44,500원</span>
                    </p> -->
				</li>
			</ul>
			<!-- 네번째 타입 -->
			<div class="type4 listType3">
				<th:block th:each="list : ${list2}">
					<!-- 상품 리스트 시작 -->
					<div class="swiper-wrapper" >
						<div class="type3Link">
						<!-- 메인사진 -->
						<img
								th:myNum="${list.item_idx}"
								class="product-imageForType"
								onclick="locationLink(this.getAttribute('myNum'))"
								th:src="${list.item_IMAGE}"
								alt=""
						/>

						<div class="sold-out-box4">
							<div class="sold-out-text sold-out-text-type4">
								SOLD <br />
								OUT
							</div>
							<div class="sold-out-bg sold-out-bg-type4"></div>
						</div>
						</div>



						<!-- 확대링크이미지 z-index예정 -->
						<a
								onclick="basketNumCount(this)"
								th:value="${list.item_idx}"
								class="cart"
						><img
								src="https://sohonara.mysoho.com/assets/shop/img/common/ico_cart_type1.png"
								alt=""
						/>
						</a>
					</div>
					<!-- 상품명 -->
					<div class="prd-info MSH-prd-info-19520">
						<div class="MSH-prd-name">
							<strong th:text="${list.item_NAME}" class="PDnameForType"> 퍼프 블라우스 화이트</strong>
						</div>
					</div>
					<div class="prd-desc">
						<div class="between4">
							<div class="price txt-black">
								<div class="sale-rate fs-21 sale-rateForType" th:text="${list.item_DISCOUNT}+'%'">9%</div>
								<div class="fs-21 black" ><b class="priceForType" th:text="${#numbers.formatInteger(list.item_PRICE_DISCOUNT,3,'COMMA')}+'원'"> 44,500</b></div>
								<div class="fs-15 black"><b class="gray-through gray-throughForType" th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"></b></div>
							</div>
							<!-- <div class="price txt-black" th:if="${list.item_DISCOUNT} == '0'">
                                <div class="fs-21 black" ><b th:text="${#numbers.formatInteger(list.item_PRICE,3,'COMMA')}+'원'"> 44,500</b></div>
                            </div> -->
							<button
									class="show-share-list"
									onclick="showShareList()"
							>
								<img
										class="between4-img"
										src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/bul_share.png"
										alt=""
								/>
							</button>
							<!-- 공유하기 버튼 팝업 -->
							<div class="bg-share">
								<div class="window-share">
									<div class="popup-share">
										<div class="lhd-share">
											<a href="javascript:closeOrderList()" class="closebtn"
											><img
													src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h30_close.png"
													alt=""
											/></a>
										</div>
										<div class="share-tit">
											<div>상품 정보를</div>
											<div><b> 공유해 보세요</b></div>
										</div>
										<div class="share-con">
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn(name)"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_sns_sms.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%253A%252F%252Fqqc.kr%252FXKR2Y0D&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=ko_KR')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_sns_facebook.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://accounts.kakao.com/login/?continue=https%3A%2F%2Fstory.kakao.com%2Fshare%3Furl%3Dhttp%253A%252F%252Fqqc.kr%252FXKR2Y0D')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_sns_kakaostory.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://nid.naver.com/nidlogin.login?mode=form&template=plogin&url=http%3A%2F%2Fblog.naver.com%2FLinkShare.naver%3Furl%3Dnull')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_sns_blog.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://accounts.kakao.com/login/?continue=https%3A%2F%2Fsharer.kakao.com%2Fpicker%2Flink%3Fapp_key%3D1628990893d01e42e811ef2f1fdae357%26short_key%3Ddb2f53c5-a414-409f-82b4-9f83ed61a80a')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_sns_kakaotalk.gif"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://access.line.me/oauth2/v2.1/login?returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fresponse_type%3Dcode%26client_id%3D1446101138%26state%3D17554c14c87549e5e97a17c817c3fb%26redirect_uri%3Dhttps%253A%252F%252Fsocial-plugins.line.me%252Flineit%252FloginCallback%253FreturnUrl%253Dhttps%25253A%25252F%25252Fsocial-plugins.line.me%25252Flineit%25252Fshare%25253Furl%25253Dhttps%25253A%25252F%25252Fsohonara.mysoho.com%25252F%252526text%25253Dhttp%2525253A%2525252F%2525252Fqqc.kr%2525252FXKR2Y0D%252526from%25253Dline_scheme%26scope%3Dopenid%2Bprofile%2Bfriends%2Bgroups%2Btimeline.post%2Bmessage.write&loginChannelId=1446101138&loginState=wBkM1D2i6jLDRjh6zfFIm3&fromDomain=access-auto.line.me&line_auto_login_error=universal_link_error#/')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_mysns_line.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://auth.band.us/login_page?display=popup&next_url=https%3A%2F%2Fband.us%2Fplugin%2Fshare%3Froute%3Dhttp%253A%252F%252Fqqc.kr%252FXKR2Y0D%26body%3Dhttp%253A%252F%252Fqqc.kr%252FXKR2Y0D')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_mysns_band.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://twitter.com/intent/tweet?url=http%3A%2F%2Fqqc.kr%2FXKR2Y0D&text=퍼프블라우스%20화이트')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_mysns_twitter_blue.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&osid=1&continue=https%3A%2F%2Fplus.google.com%2Fshare%3Furl%3Dhttp%3A%2F%2Fqqc.kr%2FXKR2Y0D&followup=https%3A%2F%2Fplus.google.com%2Fshare%3Furl%3Dhttp%3A%2F%2Fqqc.kr%2FXKR2Y0D&ifkv=AeAAQh5CLvwfHxrmxVosQDHyr3jYWKi9iRFjmo_M9cg7vkQYEbsMzjH1HjT1D14TqO933bOG0zaR&flowName=GlifWebSignIn&flowEntry=ServiceLogin')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_mysns_google.png"
													alt=""
											/></a>
											<a
													class="share-con-ico"
													href="javascript:openPopupShareBtn('https://telegram.me/share?url=http%3A%2F%2Fqqc.kr%2FXKR2Y0D')"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_mysns_telegram.png"
													alt=""
											/></a>
											<a class="share-con-ico" href="javascript:alertbtn()"
											><img
													src="http://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_sns_urlcopy.png"
													alt=""
											/></a>
										</div>
										<div class="lcont"></div>
									</div>
								</div>
							</div>
							<!-- 백업용 복구자리 -->
						</div>
						<div class="buy bold" style="display: block">구매하기</div>
						<div class="non-buy bold" style="display: none">구매불가</div>
					</div>
				</th:block>
				<!-- 상품 리스트 끝 -->
			</div>
		</div>
		<div class="mainNotice-top"></div>
		<div class="mainNotice">
			<div class="icoTit">
				<img
						src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_notice.png"
						alt=""
				/>
			</div>
			<div class="notice"><a href="http://localhost:8080/notice/list">공지사항</a></div>
			<div class="notice-info">
				<span th:if="${dto}" th:text="${dto.notice_CATE}">공지 카테고리</span>
				<a href="http://localhost:8080/notice/list"><span th:if="${dto}" th:text="${dto.notice_TITLE}">공지 제목</span></a>
				<span th:if="!${dto}">공지사항이 없습니다.</span>
			</div>
		</div>
	</div>

	<th:block th:replace="/client/fragments/Clfooter :: footerFragment"></th:block>


	<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
			integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
			crossorigin="anonymous"
	></script>
	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
			integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
			crossorigin="anonymous"
	></script>

	<script th:inline="javascript">
		const list2 = [[${list2}]]
		for(let i=0; i<list2.length; i++){
			if(list2[i].item_AMOUNT == 0){
				$(".sold-out-box1").eq(i).css('display', 'block');
				$(".sold-out-box2").eq(i).css('display', 'block');
				$(".sold-out-box3").eq(i).css('display', 'block');
				$(".sold-out-box4").eq(i).css('display', 'block');
				$(".btn-cart-type1").eq(i).css('display', 'none');
				$(".buy").eq(i).css('display', 'none');
				$(".non-buy").eq(i).css('display', 'block');
				$(".cart").eq(i).css('display', 'none');
			}
		}

		  let length1 = $(".sale-rateForType").length;
			for(let i =0; i<length1; i++){
				if($(".sale-rateForType").eq(i).text() == '0%'){
					$(".sale-rateForType").eq(i).css("display", "none");
					$(".gray-throughForType").eq(i).css("display", "none");
				}
			}
			const dateList =  [[${date}]];
			const sellingList = [[${selling}]];
			const priceList = [[${price}]];
			const reviewList = [[${review}]];
			const scoreList = [[${score}]];
			// 정렬
			function sorting(sort) {
				let count = 0;
				let length = dateList.length;
				if ($(".ico-list-1").css("display") != "none") {
					count = 0;
				} else if ($(".ico-list-2").css("display") != "none") {
					count = length;
				} else if ($(".ico-list-3").css("display") != "none") {
					count = length * 2;
				} else if ($(".ico-list-4").css("display") != "none") {
					count += length * 3;
				}
				if (sort == "date") {
					for (let i = 0; i < length; i++) {
						$(".PDnameForType")
							.eq(i + count)
							.text(dateList[i].item_NAME);
						$(".product-imageForType")
							.eq(i + count)
							.attr("src", dateList[i].item_IMAGE);
						$(".sale-rateForType")
							.eq(i + count)
							.text(dateList[i].item_DISCOUNT + "%");
						$(".priceForType")
							.eq(i + count)
							.text(numberFormatter(dateList[i].item_PRICE_DISCOUNT));
							$(".type2Link").eq(i).attr("href","/product?idx="+dateList[i].item_idx);
							$(".type3Link").eq(i).attr("href","/product?idx="+dateList[i].item_idx);
							$(".product-imageForType").eq(i+count).attr("myNum",dateList[i].item_idx);
							$(".PDnameForType").eq(i+count).attr("href", "/product?idx="+ dateList[i].item_idx);
							$(".focusTag").eq(i+count).attr("href","/product?idx="+dateList[i].item_idx);
							if(dateList[i].item_AMOUNT==0){
								$(".sold-out-box1").eq(i).css('display', 'block');
								$(".sold-out-box2").eq(i).css('display', 'block');
								$(".sold-out-box3").eq(i).css('display', 'block');
								$(".sold-out-box4").eq(i).css('display', 'block');
								$(".btn-cart-type1").eq(i).css('display', 'none');
								$(".cart").eq(i).css('display', 'none');
								$(".buy").eq(i).css('display', 'none');
								$(".non-buy").eq(i).css('display', 'block');
							}else{
								$(".sold-out-box1").eq(i).css('display', 'none');
								$(".sold-out-box2").eq(i).css('display', 'none');
								$(".sold-out-box3").eq(i).css('display', 'none');
								$(".sold-out-box4").eq(i).css('display', 'none');
								$(".btn-cart-type1").eq(i).css('display', 'block');
								$(".cart").eq(i).css('display', 'block');
								$(".buy").eq(i).css('display', 'block');
								$(".non-buy").eq(i).css('display', 'none');
							}
						$(".gray-throughForType")
							.eq(i + count)
							.text(dateList[i].item_PRICE);
					}
					let length1 = $(".sale-rateForType").length;
					for (let i = 0; i < length1; i++) {
						if (
							$(".sale-rateForType")
								.eq(i + count)
								.text() == "0%"
						) {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "none");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "none");
						} else {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "inline");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "inline");
						}
					}
				} else if (sort == "selling") {
					for (let i = 0; i < length; i++) {
						$(".PDnameForType")
							.eq(i + count)
							.text(sellingList[i].item_NAME);
						$(".product-imageForType")
							.eq(i + count)
							.attr("src", sellingList[i].item_IMAGE);
						$(".sale-rateForType")
							.eq(i + count)
							.text(sellingList[i].item_DISCOUNT + "%");
						$(".priceForType")
							.eq(i + count)
							.text(numberFormatter(sellingList[i].item_PRICE_DISCOUNT));
						$(".gray-throughForType")
							.eq(i + count)
							.text(sellingList[i].item_PRICE);
							$(".product-imageForType").eq(i+count).attr("myNum",sellingList[i].item_idx);
							$(".type2Link").eq(i).attr("href","/product?idx="+sellingList[i].item_idx);
							$(".type3Link").eq(i).attr("href","/product?idx="+sellingList[i].item_idx);
							$(".PDnameForType").eq(i+count).attr("href", "/product?idx="+ sellingList[i].item_idx);
							$(".focusTag").eq(i+count).attr("href","/product?idx="+sellingList[i].item_idx);
							if(sellingList[i].item_AMOUNT==0){
								$(".sold-out-box1").eq(i).css('display', 'block');
								$(".sold-out-box2").eq(i).css('display', 'block');
								$(".sold-out-box3").eq(i).css('display', 'block');
								$(".sold-out-box4").eq(i).css('display', 'block');
								$(".btn-cart-type1").eq(i).css('display', 'none');
								$(".cart").eq(i).css('display', 'none');
								$(".buy").eq(i).css('display', 'none');
								$(".non-buy").eq(i).css('display', 'block');
							}else{
								$(".sold-out-box1").eq(i).css('display', 'none');
								$(".sold-out-box2").eq(i).css('display', 'none');
								$(".sold-out-box3").eq(i).css('display', 'none');
								$(".sold-out-box4").eq(i).css('display', 'none');
								$(".btn-cart-type1").eq(i).css('display', 'block');
								$(".cart").eq(i).css('display', 'block');
								$(".buy").eq(i).css('display', 'block');
								$(".non-buy").eq(i).css('display', 'none');
							}
					}
					let length1 = $(".sale-rateForType").length;
					for (let i = 0; i < length1; i++) {
						if (
							$(".sale-rateForType")
								.eq(i + count)
								.text() == "0%"
						) {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "none");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "none");
						} else {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "inline");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "inline");
						}
					}
				} else if (sort == "price") {
					for (let i = 0; i < length; i++) {
						$(".PDnameForType")
							.eq(i + count)
							.text(priceList[i].item_NAME);
						$(".product-imageForType")
							.eq(i + count)
							.attr("src", priceList[i].item_IMAGE);
						$(".sale-rateForType")
							.eq(i + count)
							.text(priceList[i].item_DISCOUNT + "%");
						$(".priceForType")
							.eq(i + count)
							.text(numberFormatter(priceList[i].item_PRICE_DISCOUNT));
						$(".gray-throughForType")
							.eq(i + count)
							.text(priceList[i].item_PRICE);
							$(".product-imageForType").eq(i+count).attr("myNum",priceList[i].item_idx);
							$(".type2Link").eq(i).attr("href","/product?idx="+priceList[i].item_idx);
							$(".type3Link").eq(i).attr("href","/product?idx="+priceList[i].item_idx);
							$(".PDnameForType").eq(i+count).attr("href", "/product?idx="+ priceList[i].item_idx);
							$(".focusTag").eq(i+count).attr("href","/product?idx="+priceList[i].item_idx);
							if(priceList[i].item_AMOUNT==0){
								$(".sold-out-box1").eq(i).css('display', 'block');
								$(".sold-out-box2").eq(i).css('display', 'block');
								$(".sold-out-box3").eq(i).css('display', 'block');
								$(".sold-out-box4").eq(i).css('display', 'block');
								$(".btn-cart-type1").eq(i).css('display', 'none');
								$(".cart").eq(i).css('display', 'none');
								$(".buy").eq(i).css('display', 'none');
								$(".non-buy").eq(i).css('display', 'block');
							}else{
								$(".sold-out-box1").eq(i).css('display', 'none');
								$(".sold-out-box2").eq(i).css('display', 'none');
								$(".sold-out-box3").eq(i).css('display', 'none');
								$(".sold-out-box4").eq(i).css('display', 'none');
								$(".btn-cart-type1").eq(i).css('display', 'block');
								$(".cart").eq(i).css('display', 'block');
								$(".buy").eq(i).css('display', 'block');
								$(".non-buy").eq(i).css('display', 'none');
							}
					}
					let length1 = $(".sale-rateForType").length;
					for (let i = 0; i < length1; i++) {
						if (
							$(".sale-rateForType")
								.eq(i + count)
								.text() == "0%"
						) {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "none");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "none");
						} else {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "inline");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "inline");
						}
					}
				} else if (sort == "review") {
					for (let i = 0; i < length; i++) {
						$(".PDnameForType")
							.eq(i + count)
							.text(reviewList[i].item_NAME);
						$(".product-imageForType")
							.eq(i + count)
							.attr("src", reviewList[i].item_IMAGE);
						$(".sale-rateForType")
							.eq(i + count)
							.text(reviewList[i].item_DISCOUNT + "%");
						$(".priceForType")
							.eq(i + count)
							.text(numberFormatter(reviewList[i].item_PRICE_DISCOUNT));
						$(".gray-throughForType")
							.eq(i + count)
							.text(reviewList[i].item_PRICE);
							$(".product-imageForType").eq(i+count).attr("myNum",reviewList[i].item_idx);
							$(".type2Link").eq(i).attr("href","/product?idx="+scoreList[i].item_idx);
							$(".type3Link").eq(i).attr("href","/product?idx="+scoreList[i].item_idx);
							$(".PDnameForType").eq(i+count).attr("href", "/product?idx="+ reviewList[i].item_idx);
							$(".focusTag").eq(i+count).attr("href","/product?idx="+reviewList[i].item_idx);
							if(reviewList[i].item_AMOUNT==0){
								$(".sold-out-box1").eq(i).css('display', 'block');
								$(".sold-out-box2").eq(i).css('display', 'block');
								$(".sold-out-box3").eq(i).css('display', 'block');
								$(".sold-out-box4").eq(i).css('display', 'block');
								$(".btn-cart-type1").eq(i).css('display', 'none');
								$(".cart").eq(i).css('display', 'none');
								$(".buy").eq(i).css('display', 'none');
								$(".non-buy").eq(i).css('display', 'block');
							}else{
								$(".sold-out-box1").eq(i).css('display', 'none');
								$(".sold-out-box2").eq(i).css('display', 'none');
								$(".sold-out-box3").eq(i).css('display', 'none');
								$(".sold-out-box4").eq(i).css('display', 'none');
								$(".btn-cart-type1").eq(i).css('display', 'block');
								$(".cart").eq(i).css('display', 'block');
								$(".buy").eq(i).css('display', 'block');
								$(".non-buy").eq(i).css('display', 'none');
							}
					}
					let length1 = $(".sale-rateForType").length;
					for (let i = 0; i < length1; i++) {
						if (
							$(".sale-rateForType")
								.eq(i + count)
								.text() == "0%"
						) {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "none");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "none");
						} else {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "inline");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "inline");
						}
					}
				} else if (sort == "score") {
					for (let i = 0; i < length; i++) {
						$(".PDnameForType")
							.eq(i + count)
							.text(scoreList[i].item_NAME);
						$(".product-imageForType")
							.eq(i + count)
							.attr("src", scoreList[i].item_IMAGE);
						$(".sale-rateForType")
							.eq(i + count)
							.text(scoreList[i].item_DISCOUNT + "%");
						$(".priceForType")
							.eq(i + count)
							.text(numberFormatter(scoreList[i].item_PRICE_DISCOUNT));
						$(".gray-throughForType")
							.eq(i + count)
							.text(scoreList[i].item_PRICE);
							$(".type2Link").eq(i).attr("href","/product?idx="+scoreList[i].item_idx);
							$(".type3Link").eq(i).attr("href","/product?idx="+scoreList[i].item_idx);
							$(".product-imageForType").eq(i+count).attr("myNum",scoreList[i].item_idx);
							$(".PDnameForType").eq(i+count).attr("href", "/product?idx="+ scoreList[i].item_idx);
							$(".focusTag").eq(i+count).attr("href","/product?idx="+scoreList[i].item_idx);
							if(scoreList[i].item_AMOUNT==0){
								$(".sold-out-box1").eq(i).css('display', 'block');
								$(".sold-out-box2").eq(i).css('display', 'block');
								$(".sold-out-box3").eq(i).css('display', 'block');
								$(".sold-out-box4").eq(i).css('display', 'block');
								$(".btn-cart-type1").eq(i).css('display', 'none');
								$(".cart").eq(i).css('display', 'none');
								$(".buy").eq(i).css('display', 'none');
								$(".non-buy").eq(i).css('display', 'block');
							}else{
								$(".sold-out-box1").eq(i).css('display', 'none');
								$(".sold-out-box2").eq(i).css('display', 'none');
								$(".sold-out-box3").eq(i).css('display', 'none');
								$(".sold-out-box4").eq(i).css('display', 'none');
								$(".btn-cart-type1").eq(i).css('display', 'block');
								$(".cart").eq(i).css('display', 'block');
								$(".buy").eq(i).css('display', 'block');
								$(".non-buy").eq(i).css('display', 'none');
							}
					}
					let length1 = $(".sale-rateForType").length;
					for (let i = 0; i < length1; i++) {
						if (
							$(".sale-rateForType")
								.eq(i + count)
								.text() == "0%"
						) {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "none");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "none");
						} else {
							$(".sale-rateForType")
								.eq(i + count)
								.css("display", "inline");
							$(".gray-throughForType")
								.eq(i + count)
								.css("display", "inline");
						}
					}
				}
				if(sort == "date"){
					$(".select").text("최신순");
				}else if(sort == "selling"){
					$(".select").text("판매순");
				}else if(sort == "price"){
					$(".select").text("낮은가격순");
				}else if(sort == "score"){
					$(".select").text("평점높은순");
				}else if(sort == "review"){
					$(".select").text("리뷰많은순");
				}
			}
	function locationLink(a){
		location.href="/product?idx="+a;
	}


		</script>

	<script>
			let length = $(".redico-dis").length;
			for(let i=0; i<length; i++){
				if($(".redico-dis").eq(i).text()=='0%'){
					$(".redico-dis").eq(i).css("display","none");
				}
			}
			//캐러셀
			$("#carouselExampleCaptions").css("maxwidth", 640);
			$("#carouselExampleCaptions").css("margin", "0 auto");
			var myCarousel = document.querySelector("#carouselExampleCaptions");
			var carousel = new bootstrap.Carousel(myCarousel, {
				interval: 2000, //기본 5초
				keyboard: true, //키보드이벤트 설정
				pause: "hover", //마우스를 가져대면 자동 순환이 멈춘다.
				wrap: true, //순환설정 loop
				touch: true, //왼쪽 오른쪽 드래그 설정
				ride: true, //자동재생
			});
		</script>
	<script>
			//사이드메뉴
			function openNav() {
				// document.body.style.backgroundColor = "rgba(0,0,0,0.5)";
				document.getElementById("mySidenav").style.width = "80%";
			}
			function closeNav() {
				// document.body.style.backgroundColor = "white";
				document.getElementById("mySidenav").style.width = "0";
			}
		</script>

	<script th:inline="javascript">
			//돋보기
			function openSearch() {
				document.getElementById("myOverlay").style.display = "block";
			}

			function closeSearch() {
				document.getElementById("myOverlay").style.display = "none";
			}
			function openPopup1() {
				popup = window.open("agreement2");
			}
			function openPopup2() {
				popup = window.open("agreement3");
			}
			function openPopupsoho1() {
				popup = window.open("https://mysoho.com/");
			}
			function openPopupsoho2() {
				popup = window.open("https://sohomarket.kr/?shop=sohonara");
			}

			function sortSelect() {
				//
				if (document.querySelector("#sort").style.display === "block") {
					document.querySelector("#sort").style.display = "none";
				} else {
					document.querySelector("#sort").style.display = "block";
				}
			}
			function footerbtn() {
				//
				if (document.querySelector(".hidden").style.display === "block") {
					document.querySelector(".hidden").style.display = "none";
					document.querySelector(".footer-down").style.display = "block";
					document.querySelector(".footer-up").style.display = "none";
				} else {
					document.querySelector(".hidden").style.display = "block";
					document.querySelector(".footer-down").style.display = "none";
					document.querySelector(".footer-up").style.display = "block";
				}
			}
			function footerbtn2() {
				popup = window.open(
					"https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2068121131&apv_perm_no="
				);
			}
			// Get the button
	//		let mybutton = document.getElementById("myBtnfooter");

			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction();
			};

			// function scrollFunction() {
			// 	if (
			// 		document.body.scrollTop > 20 ||
			// 		document.documentElement.scrollTop > 20
			// 	) {
			// 		//mybutton.style.display = "block";
			// 		mybutton.style.opacity = "1";
			// 	} else {
			// 		//mybutton.style.display = "none";
			// 		mybutton.style.opacity = "0";
			// 	}
			// }

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
			//   리스트 변경 버튼
			function listChangeBtn() {
				if (document.querySelector(".listType0").style.display !== "none") {
					document.querySelector(".listType0").style.display = "none";
					document.querySelector(".listType1").style.display = "flex";
					document.querySelector(".listType2").style.display = "none";
					document.querySelector(".listType3").style.display = "none";
					document.querySelector(".ico-list-1").style.display = "none";
					document.querySelector(".ico-list-2").style.display = "flex";
					document.querySelector(".ico-list-3").style.display = "none";
					document.querySelector(".ico-list-4").style.display = "none";
				} else if (
					document.querySelector(".listType1").style.display === "flex"
				) {
					document.querySelector(".listType0").style.display = "none";
					document.querySelector(".listType1").style.display = "none";
					document.querySelector(".listType2").style.display = "flex";
					document.querySelector(".listType3").style.display = "none";
					document.querySelector(".ico-list-1").style.display = "none";
					document.querySelector(".ico-list-2").style.display = "none";
					document.querySelector(".ico-list-3").style.display = "flex";
					document.querySelector(".ico-list-4").style.display = "none";
				} else if (
					document.querySelector(".listType2").style.display === "flex"
				) {
					document.querySelector(".listType0").style.display = "none";
					document.querySelector(".listType1").style.display = "none";
					document.querySelector(".listType2").style.display = "none";
					document.querySelector(".listType3").style.display = "block";
					document.querySelector(".ico-list-1").style.display = "none";
					document.querySelector(".ico-list-2").style.display = "none";
					document.querySelector(".ico-list-3").style.display = "none";
					document.querySelector(".ico-list-4").style.display = "flex";
				} else if (
					document.querySelector(".listType3").style.display === "block"
				) {
					document.querySelector(".listType0").style.display = "block";
					document.querySelector(".listType1").style.display = "none";
					document.querySelector(".listType2").style.display = "none";
					document.querySelector(".listType3").style.display = "none";
					document.querySelector(".ico-list-1").style.display = "flex";
					document.querySelector(".ico-list-2").style.display = "none";
					document.querySelector(".ico-list-3").style.display = "none";
					document.querySelector(".ico-list-4").style.display = "none";
				}
			}
		const items = [[${list2}]];
	  	for(let i=0; i<items.length; i++){
	    	if(items[i].item_OPTION != null){
					$(".btn-cart-type1").eq(i).attr("hasOption","yes");
	  	}
		}

let basketNum = document.querySelector(".basket-num").innerHTML;
$(".option-total-price").text($("#option-price").text());

function basketNumCount(a) {
	if($(a).attr("hasOption")!=null){
		location.href="/product?idx="+$(a).attr("value");
	}else{
		basketNum++;
		let item_idx = $(a).attr("value");
		let item_quantity = 0;
		document.querySelector(".basket-num").innerHTML = basketNum;
		if(getCookie( item_idx) == null){
			setCookie( item_idx, item_quantity+1);
		}else{
			item_quantity = getCookie(+ item_idx);
			setCookie(item_idx,Number(item_quantity)+1);
		}
		alert('장바구니 담기 성공!');
	}
}


	var getCookie = function(name) {
		 var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
		 return value? value[2] : null;
		};

			// 공유 아이콘 팝업
			function showShareList() {
				document.querySelector(".bg-share").className =
					"bg-share showShareList";
			}

			function closeOrderList() {
				document.querySelector(".bg-share").className = "bg-share";
			}

			document
				.querySelector(".show-share-list")
				.addEventListener("click", showShareList);

			function openPopupShareBtn(name) {
				popup = window.open(name);
			}
			function alertbtn() {
				alert("링크가 복사되었습니다. \n원하는 위치에 붙여넣기하세요. ");
			}

		</script>
	<!-- <script th:inline="javascript">
         /*<![CDATA[*/

        const optionCon = /*[[${list2}]]*/;
      let nameLength =	$(".PDname").length;
        for(let i =0; i< nameLength; i++){
            let count =0;
            for(let j=0; j<nameLength; j++){
                if($(".PDname").eq(i).text() == $(".PDname").eq(j).text() ){
                    count++;
                }
                if(count>1){
                    $(".type3").eq(j).css("display","none");
                }
            }
        }
        const optionCon2 = /*[[${list1}]]*/;
      let nameLength2 =	$(".PDname2").length;
        for(let i =0; i< nameLength2; i++){
            let count =0;
            for(let j=0; j<nameLength2; j++){
                if($(".PDname2").eq(i).text() == $(".PDname").eq(j).text() ){
                    count++;
                }
                if(count>1){
                    $(".threeAlignFirst").eq(j).css("display","none");
                }
            }
        }
            /*]]>*/
</script> -->
	<th:block th:replace="/client/fragments/Clscript :: scriptFragment"></th:block>
</div>
</body>
</html>
